body {
    margin: 0;
    height: 100vh;
}

.navbar {
    padding: 10px 100px;
    background-color: rgb(215, 215, 215);
}

.navbar-expand-lg {
    margin-bottom: 3em;
}

.fixed-bottom {
    text-align: center;
    color: white;
    background-color: rgb(255, 132, 83);
    font-weight: 400;
}

.blockquote-footer {
    text-align: center;
    color: white;
    font-weight: 400;
}

.blockquote-footer > cite {
    text-transform: uppercase;
}

.navbar-brand  {
    color: white;
    background-color: rgb(255, 132, 83);
    padding: 0.5em;
    border-radius: 15px;
}

.nav-item {
    padding: 10px;
}

.heroContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#displayContainer {
    padding: 0 1rem;
    margin: 1rem;

}

.card {
    text-align: center;
    margin: 0.2rem;
}

.btn-primary {
    background-color: rgb(255, 132, 83);
    border: 0px;
}